<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {{#each products}}
            <li>
                {{this.title}} - ${{this.price}}
                <a href="/products/{{this._id}}">View Details</a>
            </li>
        {{/each}}
    </ul>
      <div>
        {{#if hasPrevPage}}
            <a href="/products?page={{currentPage minus 1}}">Previous</a>
        {{/if}}

        <span>Page {{pagination.currentPage}} of {{pagination.totalPages}}</span>

        {{#if hasNextPage}}
            <a href="/products?page={{currentPage plus 1}}">Next</a>
        {{/if}}
    </div>
</body>
</html>

